
:root {
    --primary-color:#1b3360;
    --secondary-color: #0f2655;
    --accent-color: #8e2de2;
    --naranja-color: #FF8200;
    --text-color: #3366CC;
    --select-btn: #ffa444;
    --text-description:#000;
    --title: #141e42;
    --light-text: #fff;
    --light-color:#fff;
    --gray-color: #cecece;
    --background-color: #f2f2f4;
    --card-bg: #ffffff;
    --synapse-color-1: #6e48aa;
    --synapse-color-2: #9d50bb;
    --synapse-pulse: rgba(110, 72, 170, 0.5);
    --gradient-1: linear-gradient(135deg, #3366CC 0%, #5f86d4 50%, #84a3e2 100%);;
    --gradient-2: linear-gradient(135deg, #FF8200 0%, #FF8200 100%);
    --shadow: 0 10px 20px rgba(110, 72, 170, 0.1);
    --card-shadow: 0 15px 25px rgba(110, 72, 170, 0.08);
    --transition: all 0.3s ease;
    --yellow: #fbbf24;
    --red: #ef4444;
    --orange : #FF8200;
    --hover-btn: #ffa84b;
    --blue: #90b8f8;
  }
  